<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/admi.css">

</head>

<body>
    <div class="contenner">
        <div class="MainList">
            <div class="header">

            </div>
            <div class="kmau">
                <div class="headding">
                    <label for="check" class="icon">
                        <img src="./img/Vector.png" alt="">
                    </label>
                    <div class="xinchao">
                        <p>xin chào ........</p>
                    </div>
                </div>
                <div class="hass">
                    <h2>Cơ Sở</h2>
                </div>
                <div class="ca1">
                    <form>
                        <input type="text" placeholder="Tìm kiếm trên lớp">
                    </form>

                    <div class="selech">
                        <select name="format" id="hihi">
                            <option value="none">Trạng Thái</option>
                            <option value="finished">Finished</option>
                            <option value="runing">Runing</option>
                        </select>
                    </div>
                    <form>
                        <input type="text" placeholder="Giáo Viên">
                    </form>

                    <div class="seasc">
                        <button>seasch</button>
                    </div>

                </div>
                <div class="bentrong">

                    <form action="#" id="classStu">
                        <table border="1">
                            <tr>
                                <td>Tên Lớp</td>
                                <td>Khóa Học</td>
                                <td>Trạng Thái</td>
                                <td>Giảng Viên</td>
                                <td>Số Lượng</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>JSA-13</td>
                                <td>Javascrit</td>
                                <td>Runing</td>
                                <td>Đào Mạnh Cường</td>
                                <td>10</td>
                                <td><button id="show">Xem</button></td>
                            </tr>
                            <tr>
                                <td>JSA-14</td>
                                <td>Javascrit</td>
                                <td>Finished</td>
                                <td>Đào Mạnh Cường</td>
                                <td>10</td>
                                <td><button id="show">Xem</button></td>
                            </tr>

                        </table>
                    </form>
                </div>


            </div>
        </div>

    </div>
    <div class="all">
        <div class="showMain">
            <h2>JSA-13</h2>
            <p>Đào Mạnh Cường</p>
            <div class="menu-list">
                <ul>
                    <li>Học Viên</li>
                    <li>Giảng Viên</li>
                    <li>Điểm Danh</li>
                    <li>Lịch Học</li>
                    <button id="show">Xem</button>
                </ul>
            </div>
            <form action="" id="class">
                <table border="1">
                    <tr>
                        <td>Học Sinh</td>
                        <td>SDT</td>
                        <td>Tên Phụ Huynh</td>
                        <td>Địa chỉ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>
                    <tr>
                        <td>Hoàng Công Tiên</td>
                        <td>0964495899</td>
                        <td>Runing</td>
                        <td>Đào Mạnh Cường</td>
                        <td><button>Sửa</button></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>

    <script src="js.js"></script>
</body>

</html>