<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/admi.css">

</head>
<body>
    <div class="contenner">
        <header>                  
            <label for="check"></label>
            <input type="checkbox" hidden name="" id="check">
            <div class="menu-mobile">
                <label for="check" class="hi">
                    <img src="./img/Vector.png" alt="">
                </label>
                <div class="mau">
                    
                    <img src="./img/image 10.png" alt="">
                    <div class="menu">
                        <div class="img_text">
                            <a href="./admintrangchu.html"><img src="./img/image 1.png" alt=""></a>
                            <a href="./admintrangchu.html" id="abc">Trang chủ</a>
                        </div>
                        <div class="img_text">
                            <a href="./adcoso.html"> <img src="./img/image 3.png" alt=""></a>
                            <a href="./adcoso.html" id="abc">Cơ Sở</a>
                        </div>
                        <div class="img_text">
                            <a href="./adhocsinh.html"> <img src="./img/image 2.png" alt=""></a>
                            <a href="./adhocsinh.html" id="abc">Học Sinh</a>
                        </div>
                        <div class="img_text">
                            <a href="./adgiaovien.html"><img src="./img/image 4.png" alt=""></a>
                            <a href="./adgiaovien.html" id="abc">Giao Viên</a>
                        </div>
                        <div class="img_text">
                            <a href="./adkhoahoc.html"><img src="./img/image 5.png" alt=""></a>
                            <a href="./adkhoahoc.html" id="abc">Khóa Học</a>
                        </div>

                    </div>
                </div>
            </div>
        </header>
        <div class="kmau">
            <label for="check" class="icon">
                <img src="./img/Vector.png" alt="">
            </label>
            <div class="xinchao">
                <p>xin chào ........</p>
            </div>
            <h2>Học Sinh</h2>
            <div class="ca"> 
                <div class="ooo">
                    <form>
                        <input type="text" id="iii" placeholder="Tên Học Sinh">
                    </form>                   
                    <div class="selech">
                        <select name="format" id="hihi">
                            <option selected disabled>LỚP HỌC</option>
                            <option value="LỚP HỌC">LỚP HỌC</option>
                            <option value="a">a</option>
                            <option value="b">b</option>
                            <option value="c">c</option>
                            <option value="d">d</option>
                        </select>
                    </div>

                </div>               
                <div class="seasc">
                    <button>seasch</button>
                </div>
            </div>
            
            </div>
           
           
        </div>
    </div>
</body>
</html>