<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/admi.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <div class="contenner">
        <header>
            <label for="check"></label>
            <input type="checkbox" hidden name="" id="check">
            <div class="menu-mobile">
                <label for="check" class="hi">
                    <img src="./img/Vector.png" alt="">
                </label>
                <div class="mau">

                    <img src="./img/image 10.png" alt="">
                    <div class="menu">
                        <div class="img_text">
                            <a href="./admintrangchu.html"><img src="./img/image 1.png" alt=""></a>
                            <a href="./admintrangchu.html" id="abc">Trang chủ</a>
                        </div>
                        <div class="img_text">
                            <a href="./adcoso.html"> <img src="./img/image 3.png" alt=""></a>
                            <a href="./adcoso.html" id="abc">Cơ Sở</a>
                        </div>
                        <div class="img_text">
                            <a href="./adhocsinh.html"> <img src="./img/image 2.png" alt=""></a>
                            <a href="./adhocsinh.html" id="abc">Học Sinh</a>
                        </div>
                        <div class="img_text">
                            <a href="./adgiaovien.html"><img src="./img/image 4.png" alt=""></a>
                            <a href="./adgiaovien.html" id="abc">Giao Viên</a>
                        </div>
                        <div class="img_text">
                            <a href="./adkhoahoc.html"><img src="./img/image 5.png" alt=""></a>
                            <a href="./adkhoahoc.html" id="abc">Khóa Học</a>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <div class="kmau">
            <label for="check" class="icon">
                <img src="./img/Vector.png" alt="">
            </label>
            <div class="xinchao">
                <p>xin chào ........</p>
            </div>
            <h2>Lớp Học</h2>
            <div class="hoc">
                <h3>Cơ Sở</h3>
                <div class="chu">
                    <div class="cot">
                        <button>Trinh Văn Bô</button></br>
                        <button>Trinh Văn Bô</button></br>
                    </div>
                    <div class="cot">
                        <button>Trinh Văn Bô</button></br>
                        <button>Trinh Văn Bô</button></br>
                    </div>
                    <div class="cot">
                        <button>Trinh Văn Bô</button></br>
                        <button>Trinh Văn Bô</button></br>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</script>

</html>